body {
  font-family: sans-serif;
}
@font-face {
  font-family: Neue Plak;
  src: url("./assets/fonts/Neue\ Plak\ Black.ttf");
}
@font-face {
  font-family: Neue Plak Regular;
  src: url("./assets/fonts/Neue\ Plak\ Text\ Bold.ttf");
}
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 2px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.App-link {
  color: #61dafb;
}
/* @media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
} */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 250px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.mainContainer {
  display: flex;
}
h1 {
  margin-top: 30px;
  margin-bottom: 50px;
}
.hostContainer {
  /* display: flex; */
  margin-left: 300px;
}
.hostContainer h1 {
  margin-bottom: 0px;
}

.form-row {
  display: flex;
  gap: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.layoutDateTime {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}
.container-fluid {
  /* background-color: plum; */
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .row {
  background-color: burlywood; */
/* width: 500px;
} */
.container-fluid label {
  font-size: 15px;
}
/* Features */
.feature-list {
  display: flex;
  font-family: ubuntu;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #30b678;
  border-radius: 500px;
}
.features button :hover {
  background-color: #196340;
}
/* Slider */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: black;
  justify-content: center;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.slides {
  cursor: pointer;
  display: flex;
  height: 500px;
  width: 100%;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}
.slides img {
  width: 100%;
  display: block;
}
.slide {
  min-width: 100%;
  height: 500px;
  flex-shrink: 0;
}
.control {
  display: flex;
  left: 10px;
  right: 10px;
  top: 50%;
  position: absolute;
  justify-content: space-between;
}
.control button {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: white;
  border: 2px solid #dddae3;
}
/* About */
.imageContainer {
  position: relative;
  height: 600px;
  background-image: url(../public/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.imageContainer h1 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 7rem;
  text-align: center;
}
.imageContainer span {
  position: relative;
  z-index: 1;
  color: #25d555;
  font-size: 2rem;
}
.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0px;
}

.textContainer {
  max-width: 42rem;
  text-align: center;
}
.textContainer p {
  text-align: justify;
}

/* Join */
.backgroundContainer {
  /* background-color: #198754; */
  height: 20rem;
}
.alignContainer {
  padding: 3rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.joinContainer {
  background-color: white;
  max-width: 80rem;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 20px;
}

.intro h1 {
  margin: 0;
  padding: 0 3rem;
  /* color: #198754; */
}
.intro p {
  margin-right: 300px;
  padding: 0 3rem;
}
.hire {
  display: flex;
  padding-right: 4rem;
  gap: 20px;
}
.hire input {
  border-radius: 30px;
  padding-left: 20px;
  width: 17rem;
}
.hire button {
  border-radius: 20px;
  width: 10rem;
  height: 5rem;
}
/* Contact */
#contactContainer {
  background-image: url(../public/background.jpg);
}
.contact {
  margin-top: 40px;
  height: 600px;
  /* background-color: #30b678; */
}
.resizeContainer {
  height: 100%;
  padding: 5rem 2rem;
  /* background-color: #196340; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.getInTouch {
  border-radius: 20px;
  height: 100%;
  background-color: white;
  min-width: 50rem;
  padding: 2rem;
  background-color: rgb(222, 219, 219);
}
.contactUs h1,
.getInTouch h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.contactUs {
  background-color: rgb(222, 219, 219);
  border-radius: 20px;
  height: 100%;
  text-align: center;
  width: 600px;
  padding: 2.5rem;
}
.contactUs input {
  /* margin: 5px; */
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}
.contactUs textarea {
  border: none;
  resize: none;
  height: 8rem;
}
.contacts {
  display: grid;
  grid: 150px / auto auto;
  grid-gap: 0px 3rem;
}
.contactElements {
  display: flex;
  justify-content: center;
}
.contactElements P {
  text-align: center;
}
@media (max-width: 857px) {
  .resizeContainer {
    display: block;
  }
}
.dropdown {
  list-style: none;
}
#eventsDropDown {
  width: 150px;
  background-color: #196340;
  border-radius: 30px;
  height: 40px;
  padding: 0 4px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 8px;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.table {
  padding-top: 25px;
  margin-bottom: 4px;
}
.table-items {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventsTable .table-item {
  line-height: 90px;
}
.table-items button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 80px;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-item {
  color: white;
}
.eventsTable div {
  color: black;
  height: 90px;
  z-index: 1;
}
.eventsTable a {
  text-decoration: none;
}
.eventsTable {
  transition-property: box-shadow;
  border-radius: 3px;
}
.eventsTable:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 400ms;
  /* transition-delay: 200ms; */
}

/* User Detaisl */
.userPhoto {
  margin-top: 40px;
}
.Photo {
  border: 1px solid #bab8b8;
  border-radius: 150px;
  margin-top: 10px;
  height: 250px;
  width: 250px;
}
.profile-picture {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-picture img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  z-index: -1;
}
.file-uploader {
  display: none;
}
.userInformation {
  height: auto;
  margin-bottom: 50px;
}
.contactDetails {
  display: flex;
  margin: 2rem 0;
}
.contactDetails input,
.contactDetails select {
  height: 50px;
  width: 20rem;
}
.contactDetails div div {
  margin-right: 50px;
}

/* Width of container */
.container {
  max-width: 1200px;
}
.container h2 {
  margin-bottom: 30px;
}
.moreInfo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textInfo h1 {
  margin: 0;
}
.textInfo p {
  text-align: end;
  margin-bottom: 3rem;
}
.buttonsForInfo {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.buttonsForInfo button {
  height: 2.7rem;
  border-radius: 20px;
}

/* Register */
.containerforRegister {
  margin: 70px 10rem 0px;
  display: flex;
  justify-content: center;
}
.registerForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rows {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rows p {
  text-align: center;
  padding-top: 5px;
  margin-left: 90px;
}
.rows button {
  width: 438px;
  height: 45px;
}
.rows input {
  width: 100%;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid gray;
}
.lastName,
.phoneNumber,
.confirmPassword {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.icons span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.countryCode {
  width: 10px;
}
.rows i {
  font-size: 30px;
}
.rows span {
  background-color: rgb(216, 216, 216);
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.submitBtn button {
  width: 100%;
}
.icons img {
  height: 33px;
  background-color: white;
  border-radius: 40px;
  padding: 5px;
}
.backToLogin {
  display: flex;
  justify-content: center;
}
/* Event */
.eventBtns {
  display: flex;
  justify-content: space-between;
}
.textInfo h1 {
  font-family: "Neue Plak";
  font-size: 3.1rem;
}
#event-container h2 {
  font-family: "Neue Plak";
  font-size: 2.7rem;
}
/*
#eventHorizontalScroll{
  overflow: auto;
  white-space: nowrap;

}
#card-body {
  display: inline-block;
  color: white;
  padding: 14px;
  text-decoration: none;
} */
/* Change password */
#changePasswordForm {
  width: 420px;
}

/* User Details */
.buttons button {
  width: 10rem;
}

/* Event Item */
.card {
  cursor: pointer;
  border: none;
}
.card:hover {
  box-shadow: 0px 2px 8px rgba(30, 10, 60, 0.06),
    0px 4px 12px rgba(30, 10, 60, 0.08);
  --shadow-color: hsl(0deg 0% 0% / 0.25);
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 50ms;
}
/* Event Type */
.event-type-section {
  height: 100vh;
  /* background-color: #61dafb; */
}
.banner-container {
  width: 100%;
  height: 400px;
  background-color: #dddae3;
  margin-top: 4rem;
}
.wrapper-banner {
  padding-top: 3rem;
  display: flex;
}
.text-description {
  width: 60%;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
.image-section {
  width: 40%;
  height: 300px;
  /* background-color: rgb(214, 149, 64); */
}
.image-section {
  background-image: url("https://hire4event.com/blogs/wp-content/uploads/2019/06/Top-100-World-Class-Food-Chains-for-event-food-stalls.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-text {
  margin-top: 3rem;
  height: auto;
  margin-left: 3rem;
  font-family: Neue Plak !important;
  font-weight: bold;
}
.heading-text h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
.paragraph-text {
  margin-left: 3.2rem;
  margin-top: 0;
}
/* Event Registration */
.event-register {
  /* background-color: #198754; */
  height: 100vh;
  width: 100%;
  margin-top: 8rem;
  padding-top: 3rem;
}
.personal-info {
  font-family: Neue Plak Regular;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.personal-info h2 {
  margin-bottom: 0;
}
.personal-info input {
  height: 3rem;
  width: 22rem;
}
.event-details-register {
  font-family: Neue Plak;
  margin: 0;
}
.register-button {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.icon-container {
  margin-bottom: 0px;
  background-color: #f0f0f0;
  margin-top: 10px;
  padding: 2rem;
  width: 150px;
  height: 137px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-container:hover {
  /* background-color: rgb(160, 160, 160); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06),
    0px 2px 8px rgba(0, 0, 0, 0.08);
  --shadow-color: hsla(0, 0%, 5%, 0.25);
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 50ms;
}
.name {
  display: flex;
  justify-content: space-between;
}
.event-media {
  height: 25rem;
  background-color: #61dafb;
  margin: 0px 3rem;
}
.events {
  height: 100vh;
}
#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#error-container h4 {
  font-family: Neue Plak;
}
/* Event Details */
.media-section {
  margin-top: 6rem;
  margin-bottom: 4rem;
  height: 500px;
  border-radius: 2rem;
}
.media {
  padding: 3rem 2rem;
}
.media img {
  height: 500px;
  width: 100%;
  border-radius: 1rem;
}
.event-details {
  margin: 5rem 2rem;
  font-family: "Neue Plak", serif;
  font-weight: 100;
  color: rgb(23, 23, 58);
}
.event-details h5 {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
.event {
  margin: 3rem 0;
}
.date-time {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.date-time i {
  margin-bottom: 0.6rem;
}
.location {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.location i {
  margin-bottom: 0.6rem;
}
.action {
  margin: 0rem 2rem 4rem 2rem;
}
.action button {
  width: 10rem;
}

/* Search Results list */
.search-result-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  max-height: 300px;
  z-index: 9;
  margin-top: -1rem;
  width: 400px;
  margin-left: 7rem;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Payment -Method */
#payment-card{
  font-family: Neue Plak Regular;
  border: 1px solid rgb(138, 138, 138);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06),
    0px 4px 12px rgba(30, 10, 60, 0.08);
  --shadow-color: hsl(0deg 0% 0% / 0.25);
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 50ms;
}