
/* For hover dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
  left: auto;
}
#logoutBtn{
  margin-left: 15px;
  margin-top: 10px;
}
.dropdown-toggle::after {
  margin-left: 0.5rem;
}
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }